CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/.idea/misc.xml
/.idea/modules.xml
/cmake-build-debug/TechnoPark
/cmake-build-debug/TechnoPark.cbp
/.idea/TechnoPark.iml
/.idea/vcs.xml
